@use 'responsive_mixin';
@use 'user_agent_stylesheet_correction';

$breakpoints: (
  'small':  767px,
  'medium': 992px,
  'large':  1200px
) !default;

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'roboto';
}

a {
    color: inherit;
    text-decoration: none;
}

.centrage_bloc{
    width: 100%;
    display: flex;
    justify-content: center;
}

.loader{
  width: 0%;
  height: 100vh;
  position: fixed;
  background-color: rgb(153, 226, 208, 0.7) ;
  z-index: 1;
  animation: loader-background 3s normal linear;
  top: 0px;
  overflow: hidden;

  .loader__icon{
    position: absolute;
    color: #9356DC;
    margin-left: 50%;
    top: 50%;
    scale: 4;
    z-index: 2;
    animation: loader-icon 1s  3 normal linear
}

}


  

  @keyframes loader-icon {
    0% {
      transform: rotate3d(0, 0, 1, 0deg);
      
    } 

    20% {
      transform: rotate3d(0, 0, 1, 20deg);
    }

    

    70%{
      transform: rotate3d(0, 0, 1, 320deg);
    }

    80% {
      
      transform: rotate3d(0, 0, 1, 360deg); 
      
    }

    100%{
      transform: rotate3d(0, 0, 1, 360deg); 
      
    }
  }

  @keyframes loader-background {
    0%{
      
      width: 100%;
    }

    100%{
      
      width: 100%;
    }
  }


.header{
    height: 63px;
    align-items: center;
    position: relative;
    box-shadow: 0 2px 4px #00000026;


    .header__logo{
        width: 197px;
        height: 36px;

    }
   
}

.section_titre{
  font-family: 'roboto';
  font-weight: 700;
  font-size: 24px;
  color: black;
  align-self: start;
  margin-left: 4.5%;
  margin-top: 0px;
  margin-bottom: 20px;
  @include respond-to('medium'){
    width: 90%;
  }
}

.new-badge{
  width: 80px;
  height: 29px;
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 15px;
  right: 4%;
  border-radius: 2px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);

  .new-badge__txt{
    font-family: 'roboto';
    font-weight: 500;
    font-size: 14px;
    color: #008766;
  }
}

.emplacement-restaurant{
  
   font-size: 16px;
   font-weight: 500;
   background-color: #EAEAEA;
   align-items: center;

   .emplacement-restaurant__icon{
    width: 12px;
    height: 16px;
    color: #353535;
    margin-right: 17px;
   }
}



.introduction{
    
    flex-direction: column;
    background-color: #F6F6F6;
    ;

    .introduction__titre{
        width: 62.5%;
       font-weight: 700;
       text-align: center;
       align-self: center;
       margin-left: 22px;
       margin-right: 22px;
       margin-top: 39px;
       
    }

    .introduction__sous-titre{
        font-weight: 300;
        text-align: center;
        align-self: center;
        width: 84%;
        font-size: 18px;
        margin-top: 17px;
    }
        

    .introduction__bouton{
        align-self: center;
        width: 62%;
        border-radius: 25px;
        height: 50px;
        text-align: center;
        align-items: center;
        background: linear-gradient(-0.67deg, #9356dc -4.2%, #ff79da 110.74%);
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
        font-weight: 500;
        color: white;
        margin-top: 27px;
        margin-bottom: 57px;
        border: none;

        
    }

    .introduction__bouton:hover{
      opacity: 80%;
      box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.35);
    }


}


.fonctionnement{
  height: 440px;
  flex-direction: column;
  align-items: center;



  .fonctionnement__etape{
    border-radius: 20px;
    height: 72.38px;
    width: 322.49px;
    background: rgba(246, 246, 246, 1);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    text-align: center;
    align-items: center;
    position: relative;
    margin-bottom: 25px;
    margin-left: 3%;
  }

  .fonctionnement__numero{
    width: 24px;
    height: 24px;
    color: white;
    font-family: 'roboto';
    font-weight: 500;
    font-size: 14px;
    background-color: #9356DC;
    position: absolute;
    left: -4%;
    border-radius: 23px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .fonctionnement__icon{
    color: #7E7E7E;
    position: absolute;
    left: 37px;
    .fonctionnement__icon--phone{
      width: 13px ;
      height: 20px;
    }

    .fonctionnement__icon--list{
      width: 16px ;
      height:16px ;
    }

    .fonctionnement__icon--store{
      width: 18px ;
      height: 18px;
      color: #9356DC
    }


  }
}


.restaurants{
    width: 100%;
    align-items: center;
    flex-direction: column;
    background-color: #F6F6F6;
    padding-bottom: 70px;
    padding-top: 50px;

    @include respond-to('medium') {
      width: 90%;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      padding-right: 5%;
      padding-left: 5%;
      gap: 3%;
    }
}

.carte-restaurant{
    width: 91%;
    height: 251px ;
    background-color: white;
    border-radius: 20px;
    margin-top: 9px;
    margin-bottom: 9px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    overflow: hidden;

    @include respond-to('medium'){
      width: 41%;
      margin-top: 30px;
    }
   

    

    .carte-restaurant__image{
      object-fit: cover;
      width: 100%;
      height: 231px;
      box-sizing: border-box;
      margin-top: -57px;
      border-top-right-radius: 15px;
      border-top-left-radius: 15px;
  }

  .carte-restaurant__contenu{
      height: 77px;
      display: flex;
      flex-direction: row;
      padding-left: 3.8%;
      padding-right: 5.3%;
      width: 89%;
  }

  .carte-restaurant__texte{
    display: flex;
    flex-direction: column;
    width: 200px;
  }

  .carte-restaurant__titre{
    margin-top: 16px;
    margin-bottom: 0px;
    font-weight: 700;
    height: 20px;
    width: 100%;
  }

  .carte-restaurant__sous-titre{
    font-weight: 300;
    margin-top: 8px;
    margin-bottom: 19px;
    height: 24px;
    width: 100%;
  }

  .carte-restaurant__icon{
    
    align-items: center;
    
    
 
  }

    
    .heart-icon-wht{
      color: white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
    opacity: 100%;
    position: absolute;
    top: 205px;
    right: 13%;
    }

    .heart-icon-wht:hover + .heart-icon-clr{
      scale:1.11;
      opacity: 100;
    }

    .heart-icon-clr:hover{
      scale:1.11;
      opacity: 100;
    }


    .heart-icon-clr{
      background: -webkit-linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-color:white;
      -webkit-text-stroke-width: 0px;
      scale: 0;
      opacity: 0;
      position: absolute;
      top: 205px;
      right: 13%;
      transition: scale 500ms;
  }

  
}


.footer{
    width: 100%;
    background-color: rgba(53, 53, 53, 1);
    display: flex;
    flex-direction: column;
    color: white;

    .footer__titre{
        
        font-family: 'Shrikhand'; 
        font-weight: 400;
        font-size: 18px;
        padding-left: 4.9%;
        margin-bottom: 0px;
    }

    .footer__liste{
        list-style-type: none;
        padding-left: 4.9%;
        line-height: 33px;
    }

    .footer__icon-utensils{
      margin-right: 9px;
      
    }
    .footer__icon-handshake{
      margin-right: 3px;
    }
}


